DATABASE_URL="postgresql://postgres:f3w7iNvhoyoXdocv@db.gdvjpqseutihoppersck.supabase.co:5432/postgres?sslmode=no-verify"
DIRECT_URL="postgresql://postgres:f3w7iNvhoyoXdocv@db.gdvjpqseutihoppersck.supabase.co:5432/postgres?sslmode=no-verify"
JWT_SECRET="str-vms-super-secret-production-key-2026-mas-holdings"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
